<!DOCTYPE html>
<html>
<head>
  <title>IST ROOM MANAGER</title>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/admin.css" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.css" />
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Welcome Admin!</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            <button class="btn-info" id="campus" name="campus">Search available room</button>
          </div>
          <div class="chart-stage">
              <div id="selection" style="display:none"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            <button class="btn-info" id="roomsButton">Rooms being used</button>
          </div>
          <div class="chart-stage">
            <div id="rooms" style="display: none">
            <table class="table table-striped" id="roomsTable">
			  <tr>
			    <th>Room</th>
			    <th>Available Seats</th>
			    <th>Manage</th>
			  </tr>
              {% for room in rooms %}
                <tr>
                  <td>{{room[0]}}</td>
                  <td>{{room[1]}}</td>
                  <td><input type="button" class="btn-danger" id="disable" value="Disable"></td>
                </tr>
              {% endfor %}
		    </table>
        </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/admin.js"></script>

</body>
</html>
