<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<button id="campus" name="campus">Search room</button>

<div id="selection">
        <select id="campusList" name="campusList" style="display: none">
        </select>
        <select id="buildingList" name="buildingList" style="display: none">
        </select>
        <select id="floorList" name="floorList" style="display: none">
        </select>
    </div>

</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("campus").onclick = function () {
            getCampus();
            document.getElementById('campusList').style.display = 'block';
        };
        document.getElementById("campusList").onclick = function () {
            var e = document.getElementById("campusList");
            var campus_id = e.options[e.selectedIndex].value;
            getData(campus_id);
            document.getElementById('buildingList').style.display = 'block';
        };

        document.getElementById("buildingList").onclick = function () {
            var e = document.getElementById("buildingList");
            var data_id = e.options[e.selectedIndex].value;
            getData(data_id);
            document.getElementById('floorList').style.display = 'block';
        };


        function get_all_spaces()
        {

        }

        // create select dinamically http://stackoverflow.com/questions/17001961/javascript-add-select-programmatically


        function getCampus() {
                    $.ajax({
                        type: "GET",
                        url: "/get_campus",
                        success: callback_campus
                 });
                }

        function getData(id) {
                    $.ajax({
                        type: "POST",
                        url: "/get_data/" + id,
                        success: callback_other
                 });
                }

        function callback_other(response)
        {
            var data = JSON.parse(response);
        //  console.log(data);
        var $select = $('#buildingList');
            $.each(data['containedSpaces'], function(idx, item){
   //                 console.log(item.name);
                    $select.append("<option value='"+ item.id +"'>" + item.name + "</option>");
                });

        }

        function callback_campus(response)
        {
            var campus = JSON.parse(response);
            console.log(campus);
            var $select = $('#campusList');
            $.each(campus, function(idx, item){
                    console.log(item);
                    $select.append("<option value='"+ item.id +"'>" + item.name + "</option>");
                });
            }
    });

</script>