<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>
        {{title}}
        {{content}}
    </h1>
<div class="row">
    <div>
        <button id="allBooks" class="float-left submit-button">List all books</button>
        <button id="search" class="float-left submit-button">Search</button>
        <button id="add" class="float-left submit-button">Add book</button>
    </div>

    <div id="addDiv" style="display: none;">
        <div>
            <form action="/createbook">
                    <div>
                        <input type="text" id="addAuthor" name="addAuthor" placeholder="Author" />
                        <input type="text" id="addTitle" name="addTitle" placeholder="Title" />
                        <input type="text" id="addYear" name="addYear" placeholder="Year" />
                        <button type="submit">ADD</button>
                    </div>
            </form>
        </div>
        <button id="closeAdd" class="float-left submit-button">Close</button>
    </div>

    <div id="searchDiv" style="display: none;">
        <div>
            <form action="/book" method="get">
                    <div>
                        <label>Book by id:</label>
                        <input type="text" id="book" name="authorName" />
                        <button type="submit">SEARCH</button>
                    </div>
            </form>
        </div>
        <div>
            <form action="/author" method="get">
                    <div>
                        <label>Author:</label>
                        <input type="text" id="author" name="authorName" />
                        <button type="submit">SEARCH</button>
                    </div>
            </form>
        </div>
        <button id="closeSearch" class="float-left submit-button">Close</button>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    document.getElementById("allBooks").onclick = function () {
        location.href = '/books';
    };

    document.getElementById("search").onclick = function(){
        document.getElementById('searchDiv').style.display = 'block';
    };
    document.getElementById("add").onclick = function(){
        document.getElementById('addDiv').style.display = 'block';
    };

    document.getElementById("closeSearch").onclick = function(){
        document.getElementById('searchDiv').style.display = 'none';
    };

    document.getElementById("closeAdd").onclick = function(){
        document.getElementById('addDiv').style.display = 'none';
    };
</script>